#app {
    display: flex;
    gap: 50px;
    margin-left: 50px;
}
#app > div {
    display: flex;
    gap: 2.5em;
    justify-content: center;
}
.column-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border: 2px black solid;
    padding: 10px;
}
.column {
    width: 250px;
    display: flex;
    gap: 1em;
    flex-direction: column;
}
.card {
    border-radius: 15px;
    border: 2px black solid;
    padding: 10px;
}
textarea {
    resize: none;
    width: 225px;
    height: 170px;
}
.update {
    border-radius: 15px;
    padding: 10px;
    border: 2px black solid;
}
.desciption {
    height: 150px;
    word-wrap: break-word;
}
.button-container {
    display: flex;
    gap: 2.5em;
    justify-content: center;
}
.reason-form {
    display: flex;
    flex-direction: column;
}
#secondColumn .deleteButton, 
#thirdColumn .deleteButton, 
#fouthColumn .deleteButton {
    display: none;
}
#firstColumn .prevButton,
#secondColumn .prevButton,
#fouthColumn .prevButton {
    display: none;
}
#fouthColumn .nextButton {
    display: none;
}
.tool-panel {
    border-radius: 15px;
    padding: 10px;
    border: 2px black solid;
    height: 25vh;
}
.findForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}