#app {
    display: flex;
    gap: 2.5em;
    justify-content: center;
}
.column-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border: 2px black solid;
    padding: 10px;
}
.column {
    width: 250px;
    display: flex;
    gap: 1em;
    flex-direction: column;
}
.card {
    border-radius: 15px;
    border: 2px black solid;
    padding: 10px;
}
textarea {
    resize: none;
    width: 225px;
    height: 170px;
}
.update {
    border-radius: 15px;
    padding: 10px;
    border: 2px black solid;
}
.desciption {
    height: 150px;
    word-wrap: break-word;
}
#secondColumn .deleteButton, 
#thirdColumn .deleteButton, 
#fouthColumn .deleteButton {
    display: none;
}